* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h3 {
  padding: 80px 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  background-color:#E5E000;
}

 .image {
 height: 1080px;
 background-image: url(img.png);
 background-size: cover;
 background-position: center;
 }

p {
  font-size: 50px;
  background-color: #FFFFFF;
  padding: 0 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

 strong {
  background-color: #FFFFFF;
}

.footer-container {
  background-color:#E5E000 ;
  height: 200px;
  padding: 77px 80px;
  display: flex;
  justify-content: center;
}
 
.footer {
  width:1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #FFFFFF;
 }
